<h1>EDA to get buyer and seller valuation</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Load excel file into a DataFrame
df = pd.read_excel("../datasets/resalepricesadjusted.xlsx")

df.head()
df['Neighborhood score'] = df['Neighborhood score'].astype(float)
df['flat_type'] = df['flat_type'].astype(float)
df['remaining_lease'] = df['remaining_lease'].astype(float)
df['resale_price'] = df['resale_price'].astype(float)
df['mean price'] = df['mean price'].astype(float)
df['ln_resale_price'] = df['ln_resale_price'].astype(float)
df['ln_mean_price'] = df['ln_mean_price'].astype(float)

In [3]:
# Group by 'month' and calculate the average resale price
neighborhood_avg_resale_price = df.groupby('month')['resale_price'].transform('mean')

# Create a new column 'average_resale_price' to store the average resale price for each neighborhood score
df['average_resale_price'] = neighborhood_avg_resale_price

In [4]:
df.head()

,month,town,Neighborhood score,flat_type,lease_commence_date,remaining_lease,resale_price,mean price,ln_resale_price,ln_mean_price,average_resale_price
0,2017-01,ANG MO KIO,4.0,2.0,1979,61.0,232000.0,413971.21,12.35,12.933552,427506.98481
1,2017-01,ANG MO KIO,4.0,3.0,1978,60.0,250000.0,413971.21,12.43,12.933552,427506.98481
2,2017-01,ANG MO KIO,4.0,3.0,1980,62.0,262000.0,413971.21,12.48,12.933552,427506.98481
3,2017-01,ANG MO KIO,4.0,3.0,1980,62.0,265000.0,413971.21,12.49,12.933552,427506.98481
4,2017-01,ANG MO KIO,4.0,3.0,1980,62.0,265000.0,413971.21,12.49,12.933552,427506.98481

In [5]:
# Count the number of rows per month
rows_per_month = df.groupby('month').size()

# Print or use the result as needed
print(rows_per_month)

month
2017-01    1185
2017-02    1085
2017-03    1903
2017-04    1839
2017-05    1980
           ...
2023-11    2130
2023-12    2007
2024-01    2625
2024-02    2128
2024-03    1558
Length: 87, dtype: int64

In [6]:
# Count the number of rows per month
rows_per_month = df.groupby('month').size()

# Calculate the average number of rows per month
average_rows_per_month = rows_per_month.mean()

# Print or use the result as needed
print(average_rows_per_month)

2016.0689655172414

In [8]:
average_price_per_month = df.groupby('month')['resale_price'].mean()

# Create a DataFrame to store the results
result_df = pd.DataFrame({'month': average_price_per_month.index, 'average_resale_price': average_price_per_month.values})

# Save the DataFrame as a CSV file
result_df.to_csv('average_sales_price_per_month.csv', index=False)